.btn_show{
    display: flex;
    justify-content: center;
}
.btn_show button{
    margin: 2px;
    padding: 5px;
    width: 50px;
}
.bg_box{
   border: 1px solid black;
   width: 120px;
   padding: 10px;
   box-sizing: border-box;
}
.border_box_input{
   border: 50px solid blue;
   width: 150px;
   padding: 50px;
   margin: auto;
   margin-top: 30px;
   background-color: white;
}
.border_box_input p{
    color: red;
    width: 130px;
    padding: 5px;
    font-weight: bold;
    margin: 2px;
}
.ticketNoShow{
    border-radius: 100px;
    background-color: blue;
    color: white;
    font-weight: bold;
}
.ticket_id{
    border: 1px solid blue;
    color: blue;
    font-weight: bold;
    margin-top: 1px;
    margin-left: -10px;
    width: 80px;
}
.bg_box div{
    color: red;
}
.display_button_1{
    display: flex;
    justify-content: space-between; 
    margin-right: -13px;
    margin-top: -13px;
}